*.o
*.ko
*.x
*.symvers
*.order
*.mod.c
*.csv
*.swp
*.out
.vscode
./*.sh
.vscode/
data/
bin/
lib/
*.host
*.ipynb
*.html
*.jpg
*.jpeg
*.tiff
*.png
*.bmp
*.so
*.a
*.s
*.log
*.btr
rsync.sh
test.sh
serial-no-continue/