# === PerfHound Settings ===

# Installation directory
# DEFAULT: $(PWD)
INSTALL_PATH = 

# The low-level counter interface of PerfHound, available options:
# PFHASM: Interfaces implemented by PerfHound. This interface access the 
#         performance counter register directly.
# PAPI: Interfaces implemented by PAPI.
# DEFAULT: PFH
PFH_OPT_API = PFH

# The number of event, available options:
# TS: Timestamp mode, collecting gid, pid, cycle count, wallclock and an 
#     user-defined double-precision floating-point value.
# EV: Event mode, collecting data in TS mode plus 4 event counters.
# EVX: Event-extended mode, collecting 12 counters on Armv8, 8 counters
#      on x86-64.
PFH_OPT_NEV = TS

# Parallel mode, available options:
# SERIAL: Serial mode, 1 process and 1 thread.
# MPI: MPI only mode, multi processes and 1 thread for each process.
PFH_OPT_PAR = SERIAL

# Buffer size in KiB. The size of collected data keeping in main memory,
# PerfHound will dump the data automatically when the buffer is full.
PFH_OPT_BUFSIZE = 2048

# Printing exetra debug information. Turn this switch on may reduce the
# instrument accuracy.
PFH_OPT_DEBUG = NO

# Compiler
CC = gcc